<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/medical-procedures">Medical Procedures</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>© 2024 My Application</p>
    </footer>
</body>
</html>
